<head>
  <title>marcomaterialinstall</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>

<body>
  <div class="container">
    <h1>Notes récentes</h1>
    <ul class="collection">
    {{#each notes}}
      {{> note}}
    {{/each}}
    </ul>
  </div>
</body>

<template name="note">
    <li class="collection-item">{{text}} créée <strong>{{formatDate createdAt 'dddd'}} le {{formatDate createdAt 'DD'}} {{formatDate createdAt 'MMMM'}} </strong></li>
</template>
